body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: #f8f9fa; 
}
#bank{
    color:blue;
}
.box {
    
    background-color: white;
    padding: 10px;
    width: 300px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 4px 10px grey; 
}
button{
   background-color:lightblue;
}